.headerContainerMobile {
  width: 100%;
  background-color: var(--purple-900);
}

.headerWrapper {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  height: 5rem;
  padding: 2rem;

  display: flex;
  align-items: center;

  a {
    img {
      &:first-of-type {
        display: none;
      }
    }
  }

  nav {
    display: flex;
    align-items: center;

    gap: 4rem;

    margin-left: auto;

    a {
      transition: filter 0.2s;
      text-decoration: none;
      color: var(--white);
      font-weight: 700;


      &:hover {
        filter: brightness(0.8);
      }
    }
  }

  @media (min-width: 768px) {
    a {
      img {
        &:first-of-type {
          display: block;
          width: 12rem;
        }

        &:last-of-type {
          display: none;
        }
      }
    }
  }
}
