* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFF;
  --white-100: #E1E1E6;

  --orange-50: #FCA311;

  --blue-600: #1D3557;

  --gray-700: #3D3C42;

  --black-600: #2B2D42;
  --black-900: #03071E;

   /* Languages */

   --typescript-bg: #3178c6;
   --typescript-color: #FFF;

   --javascript-bg: #ffd700;
   --javascript-color: #000;

   --bash-bg: #cc1625;
   --bash-color: #FFF;

   --sql-bg: #ffd700;
   --sql-color: #000;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; // 15px
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; // 14px
  }
}

body {
  background: var(--black-900);
}

body, input, textarea, button, strong {
  font: 400 1rem Roboto, sans-serif;
  color: var(--white);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, sans-serif;
  color: var(--gray-800)
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

span {
  font-size: 1rem;
}

button {
  cursor: pointer;
}

body::-webkit-scrollbar-corner{
  border: none;
  background: none;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background:transparent;
  border: none;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--gray-700);
  border-radius: 20px;
  cursor: move;
}

pre::-webkit-scrollbar-corner{
  border: none;
  background: none;
}

pre::-webkit-scrollbar {
  height: 1rem;
}

pre::-webkit-scrollbar-track {
  background:transparent;
  border: none;
}

pre::-webkit-scrollbar-thumb {
  background-color: var(--gray-700);
  border-radius: 20px;
  cursor: move;
}
