.sectionMorePosts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

.posts {
  list-style: none;

  transition: transform ease 0.2s;

  &:hover {
    transform: scale(1.05);
  }

  a {
    text-decoration: none;

    img {
      width: 100%;
      height: auto;
      // max-height: 20rem;  // 224px
    }

    time {
      display: inline-block;
      opacity: 0.5;
      margin-top: 1rem;
      font-weight: 500;
      color: var(--white);
      display: flex;
      align-items: center;
      svg {
        margin-right: 0.5rem;
      }
    }

    h3 {
      margin-top: 1rem;
      font-weight: 700;
      color: var(--white);
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    p {
      margin-top: 1rem;
      font-size: 1.125rem;
      line-height: 1.875rem;
      font-weight: normal;
      text-align: justify;
      color: var(--white-100);
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

  }
}
