.homeContainer{
  height: 100%;
  width: 100%;
  max-width: 1120px;
  margin: 3.5rem auto 0;
  padding: 0 2rem;

  h2 {
    position: relative;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    font-weight: 700;
    &:before{
      content: '';
      height: 100%;
      width: 5px;
      background-color: var(--orange-50);
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
    }
  }

  hr {
    margin: 2rem 0;
    border-color: var(--blue-600);
  }
}

.lastPost {
  display: flex;
  flex-direction: column;
  text-decoration: none;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }

    img {
      width: 100%;
      height: 100%;
      max-height: 24rem;  // 384px
      max-width: 40rem;   // 640px
    }

  time {
    opacity: 0.5;
    margin-top: 1rem;
    font-weight: 500;
    color: var(--white);
    display: flex;
    align-items: center;

    svg {
      margin-right: 0.5rem;
    }
  }

  h1 {
    margin-top: 1rem;
    font-weight: 900;
    color: var(--white);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  p {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: normal;
    text-align: justify;
    color: var(--white-100);
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  @media(min-width: 972px){
    flex-direction: row;
    align-items: flex-start;

    time {
      margin-top: 0;
    }
  }
}

.wrapperInfolastPost {
  display: flex;
  flex-direction: column;

  @media(min-width: 972px){
    margin-left: 2.25rem; // 36px
    max-width: 24rem; // 384px
  }
}


.sectionMorePosts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

.posts {
  list-style: none;

  transition: transform ease 0.2s;

  &:hover {
    transform: scale(1.05);
  }

  a {
    text-decoration: none;

    img {
      width: 100%;
      height: auto;
      // max-height: 20rem;  // 224px
    }

    time {
      display: inline-block;
      opacity: 0.5;
      margin-top: 1rem;
      font-weight: 500;
      color: var(--white);
      display: flex;
      align-items: center;
      svg {
        margin-right: 0.5rem;
      }
    }

    h3 {
      margin-top: 1rem;
      font-weight: 900;
      color: var(--white);
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    p {
      margin-top: 1rem;
      font-size: 1.125rem;
      line-height: 1.875rem;
      font-weight: normal;
      text-align: justify;
      color: var(--white-100);
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

  }
}
