.post {
  flex: 1;
  height: 100%;
  width: 100%;

  max-width: 760px;
  margin: 3.5rem auto 0;
  padding: 0 2rem;

  time {
    display: inline-block;
    margin: 2rem 0 1rem;
    opacity: 0.5;
    font-weight: 500;
    color: var(--white);
  }

  h1 {
    margin-top: 1rem;
    font-weight: 900;
    color: var(--white);
  }
}

.content {
  p {
    margin-top: 1rem;
    font-size: 1.125rem;
    line-height: 1.875rem;
    font-weight: normal;
    text-align: justify;
    color: var(--white-100);
  }

  ul {
    padding-left: 2rem;
  }

  li {
    margin-top: 0.5rem;
  }

  h3 {
    margin-top: 1rem;
    font-weight: bold;
  }

  a {
    color: var(--orange-50);
    font-weight: bold;
  }
}

.breadcrumb{
  // height: 100%;

  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--white);
    opacity: 0.7;
    font-weight: normal;
  }

  svg {
    fill: #FFF;
    opacity: 0.7;
    margin-left: 0.5rem;
  }

  span {
    font-weight: normal;
    font-size: 1rem;
    color: var(--orange-50);
    margin-left: 0.5rem;
  }

}
