.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.aboutSection {
  width: 100%;
  max-width: 1120px;
  margin: 2rem auto;
  padding: 2rem;

  h2 {
    margin-top: 1rem;
    font-size: 2.5rem;
  }

  p {
    margin-top: 2rem;
    line-height: 1.875rem;
    font-weight: normal;
    width: 45rem;
  }
}

.photo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 20rem;
  height: 22rem;
  flex-shrink: 0;
  background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(16, 5, 41, 0) 100%);

  img:first-of-type {
    width: 12rem;
    height: 12rem;
  }

  img:last-of-type {
    position: absolute;
    top: 0;
    right: 0;
  }

  strong {
    position: absolute;
    top: 22px;
    right: -12rem;

    span {
      font-size: 1rem;
      font-weight: 700;
      color: var(--orange-50);
    }
  }
}

.experienceSection {
  width: 100%;
  max-width: 1120px;
  margin: 2rem auto;
  padding: 4rem 2rem;

  h2 {
    margin: 1rem 0 2rem;
    font-size: 2.5rem;
  }

  background-image: url('/gradient.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.experienceListContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  gap: 2rem;
}

.experienceListItem {
  border-top: #693B93 4px solid;
  border-radius: 1rem;
  background: linear-gradient(110deg, #130428 19.95%, #251043 67.64%, #38126D 107.08%, #261045 156.61%, #190634 183.21%);
  box-shadow: 4px 7px 26px 0px rgba(0, 0, 0, 0.12);

  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;

  img {
    width: 6rem;
    height: 6rem;
  }

  strong {
    font-size: 1.5rem;
    font-weight: 600;
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--white-100);
  }

  a {
    font-size: 0.875rem;
    text-decoration: none;
    color: var(--white);
    padding: 0.5rem 1rem;
    background-color: #2C1250;
    border: 1px solid #693B93;
    display: block;
    margin-top: 1rem;
    width: fit-content;
    border-radius: 8px;
  }

  a:hover {
    filter: brightness(0.8);
  }
}


.skillsSection {
  margin: 4rem 0 2rem;
}


.projectsSection {
  width: 100%;
  max-width: 1120px;
  margin: 2rem auto;
  padding: 4rem 2rem;

  h2 {
    font-size: 2.5rem;
  }
}

.listContainerProjectsSection {
  display: flex;
  align-items: center;
  flex-direction: column;

  li:nth-child(odd) {
    flex-direction: row-reverse;
    background-position: left;
    margin-right: 0;

    div.listItemInfoProjectSection {
      margin-right: 0;
      margin-left: -6rem;
      text-align: right;

      p {
        text-align: justify;
      }

      div {
        background-image: url('/gradient-project-2.png');
        background-repeat: no-repeat;
        background-position: left;
      }

      a {
        margin-left: auto;
      }
    }
  }
}

.listItemProjectsSection {
  display: flex;
  align-items: flex-start;
  flex-direction: row;

  background-image: url('/gradient.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;

  padding: 6rem 0;
}

.listItemInfoProjectSection {
  display: flex;
  flex-direction: column;
  margin-right: -4rem;
  z-index: 99;
  flex: 1;

  span {
    font-size: 1rem;
    color: var(--orange-50);
    font-weight: 700;
  }

  strong {
    font-size: 2rem;
    font-weight: 600;
  }

  div {
    background-image: url('/gradient-project-1.png');
    background-repeat: no-repeat;
    background-position: right;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 1rem;

    p {
      font-size: 1rem;
      color: var(--white);
      text-align: justify;
    }
  }

  a {
    font-size: 0.875rem;
    text-decoration: none;
    color: var(--white);
    padding: 0.5rem 1rem;
    background-color: #2C1250;
    border: 1px solid #693B93;
    display: block;
    margin-top: 1rem;
    width: fit-content;
    border-radius: 8px;
  }

  a:hover {
    filter: brightness(0.8);
  }
}

.wrapperImageProjectSection {
  flex: 1;

  display: flex;
  align-items: center;

  img {
    width: 90%;
    height: 90%;
    border-radius: 8px;
  }
}
